* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #242424;
}

.btn {
  border: none;
  background-color: #4974a7;
  color: #f2f2f2 !important;
  padding: 7px;
  border-radius: 14px;
  width: 140px;
  align-self: flex-end;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
